body {
  font-family: "Montserrat", sans-serif !important;
}

.padding {
  padding-bottom: 2rem;
}

.padding-top-2 {
  padding-top: 2px;
}

.padding-bottom-1 {
  padding-bottom: 1px;
}

.email-field {
  padding: 3px;
  border: 0;
  border-radius: 5px;
}

.bg-cyan {
  background-color: #17a2b8;
}

.bg-orange {
  background-color: orange;
}

.bg-yellow {
  background-color: yellow !important;
}

.btn-orange {
  background-color: orange;
  color: white;
}

.btn-orange:hover {
  background-color: orange;
  color: white;
  text-decoration: none;
}

.btn-purple {
  color: #fff;
  background-color: indigo;
}

.btn-purple:hover {
  color: #fff;
  background-color: purple;
}

.nav-link {
  color: #fff !important;
  font-weight: 500;
}
.nav-link:hover {
  color: black !important;
  font-weight: 500;
}

.active {
  color: black !important;
}

.dropdown-menu {
  background: #ffc107 !important;
  border: 0;
  color: white !important;
}

.dropdown-nav-link {
  color: orange;
  font-weight: 500;
}

.no-border {
  border: none;
}

.no-border-radius {
  border-radius: 0;
}

.card-product-link {
  text-decoration: none;
  color: inherit;
}

.card-product-link:hover {
  text-decoration: none;
  color: inherit;
}

.no-link-decorations {
  text-decoration: none;
  color: inherit;
}

.no-link-decorations:hover {
  text-decoration: none !important;
  color: inherit;
}

hr {
  color: orange !important;
  background: #ffc107;
}

/* Footer Styles */
footer p a {
  text-decoration: none;
  color: inherit;
}
footer p a:hover {
  text-decoration: none;
  color: #ffc107;
}

.footer-menu-name {
  color: white !important;
  font-weight: 600;
}

.footer-menu-link {
  color: white !important;
  font-weight: 500;
}
.footer-menu-link:hover {
  color: #ffc107 !important;
  font-weight: 500;
  text-decoration: none;
}

.footer-menu-text {
  color: white !important;
}

.footer-brand {
  font-weight: 300;
  font-size: 25px;
  color: white !important;
}

.footer-social-link {
  font-size: 32px;
  color: white;
  padding: 5px;
}
.footer-social-link:hover {
  font-size: 32px;
  color: #ffc107;
  text-decoration: none;
}

/* Design Fixes */
.divcenter {
  padding: 2rem 0px;
}
